<!DOCTYPE html>
<html>
  <head>
    <title>AnalticalDashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
      
          <div class="col-12">
            
            <%= render 'layouts/navigation' %>
          </div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
          <div class="col-12">
            <div class="py-3">
              
              <%= yield %>
            </div>
          </div>
          
        
      </div>
  </div>
  </body>
</html>
